<td>{{user.name}}</td>
<td>{{user.lastname}}</td>
<td>{{user.fiscalcode}}</td>
<td>{{user.email}}</td>

<td class="buttons">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn-primary btn-sm" type="button" (click)="showUserDetails(user)"><fa name="info" fixed="true">></fa>
      </button>
    </div>
    <div class="col-sm-4">
    <button class="btn-primary btn-sm" type="button" (click)="updateUser(user)"><fa name="pencil" fixed="true"></fa>
    </button>
    </div>
    <div class="col-sm-4">
    <button class="btn-danger btn-sm" type="button" (click)="deleteUser(user)" ><fa name="trash-o" fixed="true"></fa>
    </button>
    </div>
    </div>

</td>

