<td>{{user.name}}</td>
<td>{{user.lastname}}</td>
<td>{{user.fiscalcode}}</td>
<td>{{user.email}}</td>

<td class="buttons">
  <div class="row">
    <div class="col-md-6">
    <button class="btn-primary btn-sm" type="button" (click)="updateUser(user)"><fa name="pencil" size="2x"></fa>
    </button>
    </div>
    <div class="col-md-6">
    <button class="btn-danger btn-sm" type="button" (click)="deleteUser(user)" ><fa name="trash-o" size="2x"></fa>
    </button>
    </div>
    </div>
  <router-outlet></router-outlet>

</td>

